.midjr-div,
.midduck-div,
.rpg-div,
.cleiton-div,
.live-div {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 25px;
  margin-right: 0px;
  vertical-align: top;
  background-color: black;
  border-radius: 20px;
  width: 220px;
  
}

.midjr-pic,
.midduck-pic,
.rpgs-pic,
.cleiton-pic,
.live-pic {
  width: 200px;
  height: 200px;
  border-radius: 25px;
  padding-left: 10px;
}

.nome,
.descricao {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: white;
  padding-left: 5px;
}

.botao {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: gray;
  border: none;
  border-radius: 7px;
  font-size: 18px;
}

.teste1 {
  background-color: black
}